$color-primary: #0074d9;
$color-secondary: #ff7fd9;
$color-tertiary: #39cccc;
$text-color-primary: #111016;

$breakpoint-sm: 576px;
$breakpoint-sm-max-width: 540px;
$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
$breakpoint-xxxl: 2500px;
$breakpoint-xxxl-max-width: 2048px;
