// @forward "variables";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $text-color-primary;
  transition: 250ms ease-in-out;

  &:hover {
    color: $color-tertiary;
  }
}
